# ==============================================================================
# https://git-scm.com/docs/gitattributes
# ==============================================================================

*         text=auto
*.cmd     text eol=crlf
*.bat     text eol=crlf
